*{
    margin: 0px;
    padding: 0px;
}
.main {
    position: relative;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
  }
  
  body {
    text-align: center;
    background-color: #151719 !important;
  }
  
  .mainImg {
    animation: mymove 3s infinite;
    width: 100%;
    max-width: 800px;
  }
  
  .mainText {
    width: 40%;
    color: #CCCCCC;
    font-size: 2.5rem;
    font-weight: bold;
    margin-left: 5px;
    padding: 0.3rem 1rem;
  }
  .mainText h3{
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 0.7rem 0.1rem;
    color: #5D5DFF;
  }
  .mainText p{
    font-size: 1.5rem;
    font-weight: 500;
    padding: 0.7rem 0.3rem;
  } 
  
  @keyframes mymove {
    0% {
      transform: translate(0, 0);
    }
    50% {
      transform: translate(0, 30px);
    }
    100% {
      transform: translate(0, 0);
    }
  }
  
  @media only screen and (max-width: 900px) {
    .main {
      flex-direction: column;
    }
    .mainImg {
      width: 80%;
    }
    .mainText {
      width: 80%;
      font-size: 1.8rem;
    }
  }
  