.main {
    display: flex;
    flex-direction: column;
    color: #d9e3ea;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .main p {
    color: #9ba9a5;
    padding: 0.7rem 0.1rem;
    font-size: 1.3rem;
  }
  .main h1 {
    padding: 1.7rem 0.1rem;
    font-size: 3rem;
  }
  .main h2 {
    padding: 0.7rem 0.1rem;
    color: #9ba9a5;
    font-size: 2rem;
  }
  
  .formStyle {
    display: flex;
    flex-direction: column;
    width: 40%;
  }
  .formStyle h4 {
    color: #d9e3ea;
    text-align: left;
    padding: 0.7rem 0.1rem;
    font-size: 1.3rem;
  }
  .formStyle p {
    color: #9ba9a5;
    font-size: 1.3rem;
    padding: 1rem 0.3rem;
  }
  .formStyle input {
    padding: 1rem 1rem;
    background-color: transparent;
    border: 1px solid #242629;
    font-size: 1.3rem;
    color: #9ba9a5;
  }
  .submitBtn {
    background-color: #4b4acf !important;
    color: #ccc;
  }
  .submitBtn:hover {
    background-color: transparent !important;
    border: #4b4acf solid 1px !important;
    font-size: 1.4rem;
  }
  @media screen and (max-width: 600px) {
    .formStyle {
      width: 80%;
    }
    .main h1 {
      width: 90%;
    }
  }
  